<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title%}
    <title>Document</title>
    {%endblock%} 
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    
    {% block script %} {% endblock %}
  </head>
  <body class="px-4 ">


    {% include "navbar.html" %} 


    {% block content %} {% endblock %} 
    {% include "footer.html" %}
  </body>
</html>
